.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a b c d"
    "e b c d"
    "e f c h"
    "e f g h";
  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1600px;
  max-height: 900px;
  margin-top: 3rem;
}

.gridA {
  grid-area: a;
}
.gridB {
  grid-area: b;
}
.gridC {
  grid-area: c;
}
.gridD {
  grid-area: d;
}
.gridE {
  grid-area: e;
}
.gridF {
  grid-area: f;
}
.gridG {
  grid-area: g;
}
.gridH {
  grid-area: h;
}

.card {
  margin: 1rem;
  text-align: left;
  border-radius: 10px;
  border: 2px solid transparent;
  transition:
    border-color 0.3s ease-in,
    background 0.3s ease-in-out;
  animation: bounce-out-down .35s ease-in-out;
  /* animation: bounce-out-down .75s cubic-bezier(0.57, -0.33, 0.32, 1.28); */
  animation-fill-mode: forwards;
  background: #e2e2e2;
  width: 300px;
}
.card::after {
  opacity: 1;
}

@keyframes bounce-out-down {
  0% {
    height: 0%;
  }

  100% {
    /* height: -webkit-fill-available; */
    height: 95%;
    padding: 1.5rem;
    opacity: 1;
  }
}

.card:hover,
.card:focus,
.card:active {
  background-color: var(--soft-gray);
  border-color: var(--black);
  color: var(--black);
}

.card p {
  animation: display-opacity 2.5s ease-in-out;
  font-size: 2rem;
  font-weight: 200;
  width: min-content;
  margin-bottom: 0;
}

.cardBrown {
  background-color: var(--brown);
  animation-delay: .2s;
  opacity: 0;
  color: var(--white);
}
.cardBlueGray {
  background-color: var(--blue-gray);
  animation-delay: .3s;
  opacity: 0;
  color: var(--white);
}
.cardBlue {
  background-color: var(--blue);
  animation-delay: .25s;
  opacity: 0;
  color: var(--white);
}
.cardLightBrown {
  background-color: var(--light-brown);
  animation-delay: .35s;
  opacity: 0;
  color: var(--white);
}

.cardImg {
  background-image: url('/photo.jpg');
  background-size: cover;
  background-blend-mode: luminosity;
  border: 0;
  background-position: top;
}
.cardImg:hover,
.cardImg:focus,
.cardImg:active {
  background-image: none;
  border: 2px solid var(--black);
}

.subtitle {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  .grid {
    display: flex;
    width: 100%;
    max-height: fit-content;
  }
}

.soon {
  font-size: 1rem;
  font-weight: 200;
  color: var(--soft-gray);
  background-color: var(--black);
  padding: 4px 6px;
  border-radius: 5px;
  width: min-content;
}
